@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 45px;
  color: #04146c;
  border-bottom: 1px solid #04146c;
}
section {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
div {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  margin: 0;
  font-weight: 400;
  font-size: 25px;
  color: #04146c;
}
img {
  width: 40%;
}
