@import url("https://fonts.google.com/share?selection.family=Mulish:wght@400;700;900");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
}
main {
  display: flex;
  flex-direction: row;
  align-items: center;
}
section {
  margin: 60px;
  width: 100%;
}

h2 {
  font-weight: 400;
  font-size: 37px;
  color: #0a2ff1;
  margin-bottom: 20px;
}
h1 {
  font-weight: 900;
  font-size: 66px;
  color: #0a2ff1;
margin-bottom: 50px;
}
p span {
  font-weight: 700;
}
p {
  font-weight: 400;
  font-size: 26.66px;
  color: #04146c;
  margin-bottom: 50px;
}
button {
  font-weight: 700;
  font-size: 29.33px;
  border: none;
  color: white;
  background-color: #0a2ff1;
  width: 400px;
  height: 70px;
}
button:hover{
    cursor: pointer;
}

#img {
  background-image: url(../img/D2-E3-pattern.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
img {
  margin-left: 90px;
  border: 3px solid #0a2ff1;
  height: 600px;
}
