@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=MuseoModerno:wght@700&display=swap");

body {
  background-color: #edf7ff;
}


h1,
h3,
h4 {
  font-family: "MuseoModerno", cursive;
  font-weight: 700;
}

h2,
p,
ul {
  font-family: "Asap", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  color: #0a2ff1;
  margin: 0;
}

p,
ul {
  font-size: 33px;
  color: #04146c;
}

h1 {
  font-size: 117px;
}
h2 {
  font-size: 52px;
}

h3 {
  font-weight: 700;
  font-size: 48px;
}
ul {
  font-weight: 700;
}

h4 {
  margin-top: 0;
  color: #8a9af1;
  font-weight: 700;
  font-size: 198px;
}

/* h1{ font-size: 117px; font-family: 'MuseoModerno', cursive;  } */
