@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}


.mes,
.black,
.day {
  font-weight: 900;
}

.mes {
  font-size: 66px;
  color: #0a2ff1;
}

.black {
  background-color: black;
  font-size: 197px;
  color: white;
}

.day {
  font-size: 217px;
}

.text {
  font-weight: 600;
  font-size: 48px;
  color: #0a2ff1;
}
#desc,
#porcentaje {
  font-weight: 900;
}

#porcentaje {
  font-size: 60px;
  background-color: black;
  color: white;
}

.promo {
  color: #0a2ff1;
  font-weight: 600;
  font-size: 58;
}
