<div class="d-flex mt-2 p-5 border border-dark rounded">
  <div>
    <label for="username" class="form-label">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      required
    />
    <div>
      <div>
        <label for="pw" class="form-label">Password</label>
        <input
          type="password"
          id="pw"
          name="pw"
          class="form-control"
          required
        />
        <div>
          <div>
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              required
            />
          </div>
          <div class="mt-3 d-flex justify-content-around">
            <button type="submit" class="btn btn-outline-primary">
              Register
            </button>
            <a href="/" class="btn btn-outline-danger">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
