@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");

* {
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

h1,
p {
  color: #0a2ff1;
  font-size: 78px;
}

h1,
p {
  width: 42%;
}

p {
  font-weight: 500;
  font-size: 30px;
}

span {
  background-color: #3ffff3;
}

img {
  background-image: url(../img/fondo.JPG);
  width: 21%;
}
