<div class="mb-3 ">
  <label for="title" class="form-label">Titulo</label>
  <input
    required
    type="text"
    value="<%= article.title%>"
    class="form-control"
    id="title"
    name="title"
  />
</div>
<br />
<div class="mb-3">
  <label for="description" class="form-label">Descripción</label>
  <textarea rows="6" class="form-control" id="description" name="description">
  <%= article.description %>
  </textarea>
</div>
<br />
<div class="mb-3">
  <label for="markdown" class="form-label">Resumen</label>
  <input
    required
    type="text"
    class="form-control"
    id="markdown"
    name="markdown"
    value="<%= article.markdown %>"
  />
</div>
<div class="d-flex justify-content-center" ">
  <button type="submit" class="btn btn-primary me-5">
    Twittear
  </button>
  <a href="/" class="btn btn-outline-danger">
    Cancelar
  </a>
</div>
